@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* browser prefix adding  */
.custom-btn span, .section__title h2, .blog__inner .content .text h4 a, .team__item .text .social-icon a i, .service__inner .text .service_btn button, .service__inner .text .service_btn button .icon svg, .about__inner--rightstyle .text p span {
  color: #0A0E1A;
}

.tpoffcanvas__content .contactinfo ul li a, .menu-item-has-children.open > a::after, .menu-item-has-children.open > a::before, .blog__inner .content .text ul li, .blog__inner .content .text ul li i, .award__item h6, .contact__form form .inputbox input:valid ~ span, .contact__form form .inputbox input:focus ~ span, .service__inner .text p, .service__inner .text ul li {
  color: #57595C;
}

.partner__top, .bt, .custom-btn, .playbtn_animation a, .tpoffcanvas__close-btn, .contact__form form .inputbox i {
  background: #FFE815;
}

.partner__bottom, .menu-item-has-children > a::after, .menu-item-has-children > a::before, .service__inner:hover .service_btn button, .service__inner:hover .service_btn button .icon, .newslatter__bg {
  background: #0057FC;
}

.projects__nav button, .tpoffcanvas__close-btn button {
  background: none;
}

.award, .contact, .service__inner .text .service_btn button, .service__inner:hover {
  background: #FBF6EF;
}

.projects__nav button h2, .footer__address .item h6, .footer__link h6, .footer__contact .socail-icon a, .footer__contact h6, .footer__contact .item p, .footer__contact .item h4, .footer__copyright .left p, .footer__copyright .right ul li a, .hero__content h2, .hero__content .bottom-text span, .hero__content .bottom-text h3, .header__numbersearh .number .text p, .header__numbersearh .number .text h6 a, .header__sidebar .offcanvasicon i, .tpoffcanvas__logo a h5, .counter__content .maincounter h5, .counter__content h4, .newslatter__content h2, .newslatter__form form input:focus ~ label .label-char, .newslatter__form form input:valid ~ label .label-char, .newslatter__form form label {
  color: #fff;
}

.bt, .playbtn_animation a i, .header__menu nav > ul li a, .header__menu nav > ul li ul li a, .tpoffcanvas__close-btn button i, .tpoffcanvas__content h3 {
  color: #000000;
}

.custom-btn::after, .tpoffcanvas, .tpoffcanvas__header, body,
button,
input,
select,
optgroup,
textarea {
  background: #fff;
}

.footer, .client__wrapper, .about {
  background-repeat: no-repeat;
}

.projects__nav button h2, .service__inner .text .service_btn button, body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Federo", sans-serif;
}

.section__title p, .footer__address .item p, .footer__link ul li a, .footer__contact .item p, .footer__copyright .left p, .footer__copyright .right ul li a, .blog__inner .content .text ul li, .blog__inner .content .text ul li a, .newslatter__form form input, .newslatter__form form label, .about__inner--rightstyle .text p {
  font-family: "DM Sans", sans-serif;
}

.custom-btn, .footer__link ul li a, .footer__copyright .right ul li a, .header__menu nav > ul li a, .header__numbersearh .number .text h6 a, .tpoffcanvas__content .contactinfo ul li a, .blog__inner .content .text h4 a, .blog__inner .content .text ul li i, .blog__inner .content .text ul li a, .blog__inner .content .blogbtn a {
  text-decoration: none;
}

.bt, .custom-btn span, .header__menu nav > ul li a, .service__inner .text p, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6, input::placeholder,
textarea::placeholder,
select::placeholder {
  text-transform: capitalize;
}

.hero__content h2, .hero__content .bottom-text span, .hero__content .bottom-text h3 {
  text-transform: uppercase;
}

.bt, .playbtn_animation a, .section__title, .section__title h2, .section__title p, .header__sidebar .offcanvasicon, .tpoffcanvas__close-btn, .tpoffcanvas__content .social ul li a, .team__item .text, .client__inner {
  text-align: center;
}

.projects__nav button h2, .team__tile, .team__tile h2 {
  text-align: left;
}

.footer__link ul li, .footer__copyright .right ul li, .header__menu nav > ul li, .tpoffcanvas__content .contactinfo ul li, .tpoffcanvas__content .social ul li, .blog__inner .content .text ul li {
  list-style: none;
}

.footer__link ul, .header__menu nav > ul, .tpoffcanvas__content .contactinfo ul, .tpoffcanvas__content .social ul, .counter__content .maincounter h5, .service__inner .text ul, *, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  margin: 0;
  padding: 0;
}

.custom-btn::after, .blog__inner:hover .thumb::before, .blog__inner:hover .thumb::after {
  opacity: 0;
}

.custom-btn:hover::after, .blog__inner .thumb::before, .blog__inner .thumb::after {
  opacity: 1;
}

.tpoffcanvas {
  visibility: hidden;
  opacity: 0;
}

.tpoffcanvas.opened {
  visibility: visible;
  opacity: 1;
}

.newslatter__form h3 {
  display: none;
}

.newslatter__form form input {
  display: block;
}

.header__menu nav > ul li ul li a, .tpoffcanvas__content .social ul li a, .team__item .text p span, .client__inner .name p span {
  display: inline-block;
}

.custom-btn, .playbtn_animation, .footer__copyright, .footer__copyright .right ul, .hero__content .bottom-text, .header__content, .header__numbersearh, .header__numbersearh .number, .tpoffcanvas__content .allimg, .tpoffcanvas__content .social ul, .blog__inner .content .text ul, .award__content, .team__item .text p, .client__inner .name p, .service__inner .text .service_btn button, .service__inner .text .service_btn button .icon, .newslatter__form form label, .about__inner .text .playbtn {
  display: flex;
  flex-wrap: wrap;
}

.custom-btn, .playbtn_animation, .client__inner .name p, .service__inner .text .service_btn button .icon {
  justify-content: center;
}

.footer__copyright {
  justify-content: space-between;
}

.custom-btn, .playbtn_animation, .footer__copyright, .hero__content .bottom-text, .header__content, .header__menu nav > ul, .header__numbersearh, .header__numbersearh .number, .blog__inner .content .text ul, .team__item .text p, .client__inner .name p, .service__inner .text .service_btn button, .service__inner .text .service_btn button .icon, .about__inner .text .playbtn {
  align-items: center;
}

.bt, .projects__nav button, .tpoffcanvas__close-btn button, .contact__form form .inputbox input, .service__inner .text .service_btn button, .newslatter__form form input {
  border: none;
}

.contact__form form .inputbox input {
  background: transparent;
}

.contact__form form .inputbox input, .contact__form form .inputbox span, .contact__form form .inputbox i {
  transition: all 0.5s ease;
}

.client__inner {
  margin: auto;
}

.bt, .custom-btn, .playbtn_animation, .footer__copyright, .header__numbersearh .searchbar, .menu-item-has-children > a, .contact__form form .inputbox, .contact__form form .inputbox input, .service__inner, .service__inner .text .service_btn button, .newslatter__bg, .newslatter__form,
.header__menu nav > ul li,
.blog__inner .thumb {
  position: relative;
}

.msg, .header, .header::after, .header__numbersearh .searchbar::after, .menu-item-has-children > a::after, .menu-item-has-children > a::before, .blog__inner .thumb::before, .blog__inner .thumb::after, .contact__form form .inputbox span, .contact__form form .inputbox i, .service__inner .text .service_btn button .icon {
  position: absolute;
  content: "";
}

.blog__inner, .blog__inner .thumb, .service__inner .text .service_btn button {
  overflow: hidden;
}

.header__sidebar .offcanvasicon, .header__sidebar .offcanvasicon i, .service__inner .text .service_btn button {
  cursor: pointer;
}

.header {
  z-index: 1;
}

.contact__form form .inputbox input, .newslatter__form form input:focus {
  outline: none;
}

.footer__link ul li:last-child, .header__menu nav > ul, .tpoffcanvas__content .contactinfo ul li:last-child, .service__inner .text ul li:last-child {
  margin-bottom: 0;
}

.footer__link ul, .header__menu nav > ul, .tpoffcanvas__content .contactinfo ul, .tpoffcanvas__content .social ul, .counter__content .maincounter h5, .service__inner .text ul, *, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  margin: 0;
  padding: 0;
}

/*--
    - all Margin 
-----------------------------------------*/
.hero__btn {
  margin-top: 20px;
}

.bt, .footer__address .item:last-child, .tpoffcanvas__content .allimg, .team__item .text, .contact__form form, .service__inner .text .service_btn {
  margin-top: 30px;
}

.footer__contact .item:last-child, .tpoffcanvas__content .contactinfo, .tpoffcanvas__content .social, .service__wrapper, .about__inner .text h2 {
  margin-top: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .footer__contact .item:last-child, .tpoffcanvas__content .contactinfo, .tpoffcanvas__content .social, .service__wrapper, .about__inner .text h2 {
    margin-top: 2.5rem;
  }
}

.tpoffcanvas__content, .client__inner .name, .contact__btn {
  margin-top: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .tpoffcanvas__content, .client__inner .name, .contact__btn {
    margin-top: 3.125rem;
  }
}

.about__inner--rightstyle .thumb {
  margin-top: calc(1.5625rem + 3.75vw);
}
@media (min-width: 1200px) {
  .about__inner--rightstyle .thumb {
    margin-top: 4.375rem;
  }
}

.footer__address, .footer__link {
  margin-top: calc(1.625rem + 4.5vw);
}
@media (min-width: 1200px) {
  .footer__address, .footer__link {
    margin-top: 5rem;
  }
}

.footer__copyright, .about__inner .text {
  margin-top: calc(1.75rem + 6vw);
}
@media (min-width: 1200px) {
  .footer__copyright, .about__inner .text {
    margin-top: 6.25rem;
  }
}

.about__inner--rightstyle .text, .about__inner--rightstyle .text h2 {
  margin-top: 0px !important;
}

.footer__link ul li:last-child, .header__menu nav > ul, .tpoffcanvas__content .contactinfo ul li:last-child, .service__inner .text ul li:last-child {
  margin-bottom: 0px;
}

.footer__contact .item p, .award__item h6 {
  margin-bottom: 5px;
}

.tpoffcanvas__content .contactinfo ul li {
  margin-bottom: 8px;
}

.footer__link ul li, .tpoffcanvas__content .contactinfo h5, .tpoffcanvas__content .social h5 {
  margin-bottom: 10px;
}

.service__inner .text ul li {
  margin-bottom: 13px;
}

.partner__top, .footer__address .item h6, .footer__link h6, .footer__contact h6, .service__inner .thumb {
  margin-bottom: 20px;
}

.team__tile, .about__inner--rightstyle .text h2, .about__inner--rightstyle .text p {
  margin-bottom: 30px;
}

.blog__inner .content .blogbtn a i {
  margin-left: 10px;
}

.footer__contact .socail-icon a:last-child, .team__item .text .social-icon a:last-child {
  margin-right: 0px;
}

.footer__copyright .left p i {
  margin-right: 5px;
}

.blog__inner .content .text ul li i, .team__item .text p span, .team__item .text .social-icon a, .client__inner .name p span {
  margin-right: 10px;
}

.footer__contact .socail-icon a {
  margin-right: 15px;
}

.tpoffcanvas__content p {
  margin-block: 10px;
}

.section__title h2 {
  margin-block: 13px;
}

.blog__inner .content .text ul {
  margin-block: 15px;
}

.client__wrapper {
  margin-block: 60px;
}

/*--
    -all Padding 
-----------------------------------------*/
.counter__content .maincounter h5 span {
  padding-top: 2px;
}

.footer {
  padding-top: calc(1.875rem + 7.5vw);
}
@media (min-width: 1200px) {
  .footer {
    padding-top: 7.5rem;
  }
}

.about {
  padding-top: calc(1.9375rem + 8.25vw);
}
@media (min-width: 1200px) {
  .about {
    padding-top: 8.125rem;
  }
}

.counter__content .maincounter h5 span {
  padding-bottom: 5px;
}

.about {
  padding-bottom: calc(2.375rem + 13.5vw);
}
@media (min-width: 1200px) {
  .about {
    padding-bottom: 12.5rem;
  }
}

.blog__inner .content .text ul {
  padding-left: 0px;
}

.header__menu nav > ul li ul, .header__logo, .service__inner .text ul {
  padding-left: 10px;
}

.team__item .text p, .service__inner .text .service_btn button {
  padding-left: 15px;
}

.footer__address {
  padding-left: 30px;
}

.footer__link {
  padding-left: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  .footer__link {
    padding-left: 3.75rem;
  }
}

.projects__nav button {
  padding-left: calc(1.75rem + 6vw);
}
@media (min-width: 1200px) {
  .projects__nav button {
    padding-left: 6.25rem;
  }
}

.header__numbersearh {
  padding-right: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  .header__numbersearh {
    padding-right: 3.75rem;
  }
}

.header__menu nav > ul li ul li {
  padding-block: 0px;
}

.counter__content h4, .team__item .text p {
  padding-block: 15px;
}

.tpoffcanvas__logo, .service__inner .text p {
  padding-block: 20px;
}

.footer__copyright {
  padding-block: 30px;
}

.partner__top, .partner__bottom, .service__inner {
  padding-block: 50px;
}

.newslatter__bg {
  padding-block: 70px;
}

.blog, .counter, .award, .team, .contact {
  padding-block: 100px;
}

.service {
  padding-block: 150px;
}

.header__menu nav > ul li ul li a {
  padding-block: 8px !important;
}

.header__menu nav > ul li ul li a {
  padding-inline: 10px;
}

.service__inner {
  padding-inline: 35px;
}

.newslatter__bg {
  padding-inline: 40px;
}

input,
textarea,
select {
  padding: 15px;
}

.tpoffcanvas {
  padding: 20px;
}

/*--
    - wdith, height and line height
-----------------------------------------*/
/*-- width with pixel and %--*/
.msg {
  width: 0px;
}

.header__numbersearh .searchbar::after {
  width: 2px;
}

.menu-item-has-children > a::after {
  width: 10px;
}

.playbtn_animation a, .tpoffcanvas__close-btn {
  width: 50px;
}

.team__item .text p span, .client__inner .name p span {
  width: 60px;
}

.tpoffcanvas__content .allimg a img {
  width: 75px;
}

.header__sidebar, .header__sidebar .offcanvasicon, input,
textarea,
select {
  width: 100px;
}

.header__menu nav > ul li ul {
  width: 150px;
}

.custom-btn {
  width: 200px;
}

.custom-btn::after, .header, .header::after, .header__menu nav > ul li ul li a, .tpoffcanvas, .blog__inner .thumb a img, .team__item .thumb img, .contact__form form .inputbox input, .contact__form form .inputbox i, .service__inner .text .service_btn button, .newslatter, .newslatter__form form input, .about__inner .thumb img {
  width: 100%;
}

/*--height  with pixel and %--*/
.msg {
  height: 0px;
}

.team__item .text p span, .contact__form form .inputbox i {
  height: 1px;
}

.header::after, .client__inner .name p span {
  height: 2px;
}

.menu-item-has-children > a::before {
  height: 10px;
}

.playbtn_animation a, .tpoffcanvas__close-btn {
  height: 50px;
}

.custom-btn {
  height: 70px;
}

.tpoffcanvas__content .allimg a img {
  height: 78px;
}

.header__sidebar .offcanvasicon {
  height: 100px;
}

.custom-btn::after {
  height: 100%;
}

/*--line height with pixel--*/
.about__inner--rightstyle .text p {
  line-height: 28px;
}

.hero__content .bottom-text span {
  line-height: 40px;
}

.playbtn_animation a, .tpoffcanvas__close-btn {
  line-height: 50px;
}

.header__sidebar .offcanvasicon {
  line-height: 100px;
}

.client__inner h2 {
  line-height: 110px;
}

/*--
    - font-size 
-----------------------------------------*/
.header__numbersearh .number .text p, .contact__form form .inputbox span {
  font-size: 15px;
}

.section__title p, .footer__contact .item p, .tpoffcanvas__content p, .blog__inner .content .blogbtn a i, .service__inner .text p, .service__inner .text ul li {
  font-size: 17px;
}

.bt, .custom-btn span, .service__inner .text .service_btn button, .newslatter__form form input, .about__inner--rightstyle .text p {
  font-size: 18px;
}

.header__menu nav > ul li a {
  font-size: 19px;
}

.newslatter__form form input:focus ~ label .label-char, .newslatter__form form input:valid ~ label .label-char, .newslatter__form form label {
  font-size: 20px;
}

.footer__contact .socail-icon a i, .team__item .text .social-icon a i {
  font-size: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  .footer__contact .socail-icon a i, .team__item .text .social-icon a i {
    font-size: 1.5625rem;
  }
}

.hero__content .bottom-text span {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .hero__content .bottom-text span {
    font-size: 1.875rem;
  }
}

.section__title h2, .hero__content .bottom-text h3, .counter__content .maincounter h5 span, .award__heading h2, .about__inner .text h2 {
  font-size: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  .section__title h2, .hero__content .bottom-text h3, .counter__content .maincounter h5 span, .award__heading h2, .about__inner .text h2 {
    font-size: 3.75rem;
  }
}

.hero__content h2, .hero__content h2 span {
  font-size: calc(1.5625rem + 3.75vw);
}
@media (min-width: 1200px) {
  .hero__content h2, .hero__content h2 span {
    font-size: 4.375rem;
  }
}

.projects__nav button h2, .client__inner h2, .contact__leftheading h2, .newslatter__form h3 {
  font-size: calc(1.75rem + 6vw);
}
@media (min-width: 1200px) {
  .projects__nav button h2, .client__inner h2, .contact__leftheading h2, .newslatter__form h3 {
    font-size: 6.25rem;
  }
}

/*--
    - text 
-----------------------------------------*/
.custom-btn span, .projects__nav button h2, .section__title h2, .section__title p, .service__inner .text .service_btn button, h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  font-weight: 400;
}

.about__inner--rightstyle .text p span {
  font-weight: 500;
}

.tpoffcanvas__content h3 {
  font-weight: 700;
}

/*--
    - from top, left, bottom, right with %  
-----------------------------------------*/
.header, .blog__inner .thumb::before, .blog__inner:hover .thumb::after {
  top: 0%;
}

.msg {
  top: 25%;
}

.menu-item-has-children > a::after, .blog__inner .thumb::after {
  top: 50%;
}

.header, .blog__inner .thumb::after, .blog__inner:hover .thumb::before, .contact__form form .inputbox span, .contact__form form .inputbox i {
  left: 0%;
}

.msg {
  left: 15%;
}

.blog__inner .thumb::before {
  left: 50%;
}

.blog__inner .thumb::after, .blog__inner:hover .thumb::before {
  right: 0%;
}

.blog__inner .thumb::before, .blog__inner:hover .thumb::after, .contact__form form .inputbox i {
  bottom: 0%;
}

.contact__form form .inputbox span {
  bottom: 5%;
}

.blog__inner .thumb::after {
  bottom: 50%;
}

/*--
    - from top, left, bottom, right with pixel  
-----------------------------------------*/
.custom-btn::after, .tpoffcanvas {
  top: 0px;
}

.header::after {
  top: 100px;
}

.custom-btn::after, .header::after {
  left: 0px;
}

.tpoffcanvas.opened {
  right: 0px;
}

.tpoffcanvas {
  bottom: 0px;
}

/*--
    -border 1 to 5   
-----------------------------------------*/
.section__title h2 {
  border: 4pxsolid #fff;
}

.msg {
  border-radius: 2px;
}

.bt, .custom-btn, .service__inner .text .service_btn button, .service__inner:hover .service_btn button .icon {
  border-radius: 5px;
}

.about__inner .thumb img {
  border-radius: 10px;
}

.blog__inner .thumb a img, .team__item .thumb img {
  border-radius: 15px;
}

.tpoffcanvas__content .social ul li a, .service__inner, .newslatter__bg {
  border-radius: 20px;
}

.playbtn_animation a {
  border-radius: 25px;
}

/*--
    -outline 1 to 5  
-----------------------------------------*/
/*--
    -gap 0 to 100
-----------------------------------------*/
.tpoffcanvas__content .allimg {
  gap: 5px;
}

.custom-btn, .hero__content .bottom-text, .tpoffcanvas__content .social ul {
  gap: 10px;
}

.header__numbersearh .number {
  gap: 20px;
}

.footer__copyright .right ul {
  gap: 25px;
}

.about__inner .text .playbtn {
  gap: 30px;
}

.header__numbersearh {
  gap: 50px;
}

.header {
  z-index: 1px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: auto !important;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  clear: both;
  line-height: 1.3;
  font-family: "Federo", sans-serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1 {
  font-size: calc(1.5rem + 3vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2.25rem;
  }
}

h4 {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.875rem;
  }
}

h5 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 1.25rem;
}

span,
p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  font-family: "Federo", sans-serif;
}

a {
  color: #0066B3;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:visited {
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: thin dotted;
  outline: none;
}

a:hover,
a:active {
  outline: 0;
}

img {
  height: auto;
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

select {
  border: 1px solid #D9D9D9;
}

ul li a.facebook {
  background: #3b5998 !important;
  color: #fff !important;
}
ul li a.instagram {
  background: #e4405f !important;
  color: #fff !important;
}
ul li a.linkedin {
  background: #007bb5 !important;
  color: #fff !important;
}
ul li a.twitter {
  background: #55acee !important;
  color: #fff !important;
}

input,
textarea,
select {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}
.about__inner .text .playbtn h4 {
  color: #57595C;
}
@media (min-width: 992px) {
  .about__inner .text h2 {
    line-height: 70px;
  }
}
.about__inner--rightstyle .text p {
  color: #57595C;
}
@media (min-width: 1200px) {
  .newslatter {
    position: absolute;
    margin-top: -100px;
  }
}
@media (min-width: 1200px) {
  .newslatter__bg {
    padding-inline: 76px;
  }
}
.newslatter__content h2 {
  font-size: 60px;
}
@media (max-width: 1199px) {
  .newslatter__content h2 {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 576px) {
  .newslatter__form h3 {
    position: absolute;
    opacity: 0.1;
    color: #fff;
    left: 10%;
    top: 46%;
    display: block;
  }
}
@media (min-width: 1200px) {
  .newslatter__form h3 {
    left: 40%;
    top: 27%;
  }
}
.newslatter__form form input {
  padding: 25px 10px 15px 5px;
  border-bottom: 1px solid #fff;
  background: transparent;
}
@media (min-width: 576px) {
  .newslatter__form form input {
    position: absolute;
    z-index: 1;
    width: 80%;
  }
}
@media (min-width: 992px) {
  .newslatter__form form input {
    width: 570px;
  }
}
.newslatter__form form input:focus ~ label .label-char, .newslatter__form form input:valid ~ label .label-char {
  transform: translateY(-20px);
}
.newslatter__form form label {
  pointer-events: none;
}
@media (min-width: 576px) {
  .newslatter__form form label {
    position: absolute;
    left: 4%;
    top: 67%;
  }
}
@media (min-width: 1200px) {
  .newslatter__form form label {
    left: 9%;
    top: 45%;
  }
}
.newslatter__form form label span {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.06s);
}

.service__inner {
  border: 1px solid #57595C;
  z-index: 1;
}
.service__inner .text .service_btn button {
  height: 2.8em;
}
.service__inner .text .service_btn button .icon {
  margin-left: 1em;
  height: 2.2em;
  width: 2.2em;
  right: 0.3em;
  transition: all 1s;
}
.service__inner .text .service_btn button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  transform: rotate(-45deg);
}
.service__inner .text .service_btn button:active {
  transform: scale(0.95);
}
.service__inner:hover .service_btn button .icon {
  width: calc(100% - 0.6em);
  transition: all 0.5s;
}
.service__inner:hover .service_btn button .icon svg {
  transform: translateX(0.1em);
  color: #fff !important;
}
.contact__form form .inputbox input {
  color: #57595C;
  padding: 20px 10px 10px;
  box-shadow: none;
  letter-spacing: 0.05em;
  z-index: 10;
}
.contact__form form .inputbox input:valid ~ span, .contact__form form .inputbox input:focus ~ span {
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}
.contact__form form .inputbox input:valid ~ i, .contact__form form .inputbox input:focus ~ i {
  height: 44px;
}
.contact__form form .inputbox span {
  padding: 20px 10px 10px;
  color: #57595C;
  letter-spacing: 0.05em;
  pointer-events: none;
}
.contact__form form .inputbox i {
  pointer-events: none;
  z-index: 9;
}
.projects {
  padding: calc(1.875rem + 7.5vw) calc(1.5rem + 3vw) calc(1.875rem + 7.5vw) 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  .projects {
    padding: 7.5rem 3.75rem 7.5rem 0;
  }
}

.client {
  padding: calc(1.875rem + 7.5vw) 0;
}
@media (min-width: 1200px) {
  .client {
    padding: 7.5rem 0;
  }
}
.client__inner .name p span {
  background: #57595C;
}
.team__item .text p span {
  background: #D6D6D1;
}
.team__item .text .social-icon a:hover i {
  color: #0057FC;
}

@media (min-width: 992px) {
  .award__content {
    position: relative;
  }
}
@media (min-width: 992px) {
  .award__content::after {
    position: absolute;
    content: "";
    top: -25px;
    left: 45%;
    width: 1px;
    height: 380px;
    background: #57595C;
  }
}
.award__item {
  width: 50%;
  margin-bottom: 60px;
}
.award__item:last-child {
  margin-bottom: 0;
}
.award__item:nth-child(even) {
  padding-left: 30px;
  left: -20px;
}
@media (min-width: 992px) {
  .award__item {
    position: relative;
  }
}
@media (min-width: 992px) {
  .award__item::before {
    position: absolute;
    content: "";
    top: 150%;
    left: 0;
    width: 300px;
    height: 1px;
    background: #57595C;
  }
}
.award__item:nth-child(5)::before {
  background: none;
}
.award__item:nth-child(6)::before {
  background: none;
}

.counter__content h4 {
  opacity: 0.5;
}

.blog__inner .thumb {
  z-index: 2;
}
.blog__inner .thumb::before {
  right: 51%;
  background: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
.blog__inner .thumb::after {
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}
.blog__inner .content {
  padding: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  .blog__inner .content {
    padding: 1.5625rem;
  }
}
.blog__inner .content .text ul {
  gap: 20px;
}
@media (min-width: 992px) {
  .blog__inner .content .text ul {
    gap: 40px;
  }
}
.blog__inner .content .text ul li i {
  font-size: 0.9375rem;
}
.blog__inner .content .text ul li a {
  color: #57595C;
}
.blog__inner .content .blogbtn {
  margin-top: 1.25rem;
}
.blog__inner .content .blogbtn a {
  color: #57595C;
}
.blog__inner .content .blogbtn a i {
  transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.blog__inner:hover .content .blogbtn a i {
  transform: rotate(0deg);
}
.blog__inner:hover .thumb::before {
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear;
}
.blog__inner:hover .thumb::after {
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear;
}

.header::after {
  background: #FFF;
  opacity: 0.15;
}
@media (min-width: 1200px) {
  .header__menu {
    width: calc(100% - 450px);
  }
}
@media (min-width: 1600px) {
  .header__menu {
    padding-left: 80px;
  }
}
@media (min-width: 1200px) {
  .header__menu nav > ul {
    display: flex;
  }
}
@media (max-width: 1199px) {
  .header__menu nav > ul li {
    padding: 0.3125rem 0rem;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .header__menu nav > ul li a {
    padding: calc(1.34375rem + 1.125vw) 1.125rem;
    color: #fff;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .header__menu nav > ul li a {
    padding: 2.1875rem 1.125rem;
  }
}
@media (max-width: 1199px) {
  .header__menu nav > ul li a {
    width: 100%;
    display: inline-block;
  }
}
.header__menu nav > ul li ul {
  padding-left: 0;
  top: 64px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header__menu nav > ul li ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    left: 30%;
  }
}
@media (max-width: 1199px) {
  .header__menu nav > ul li ul {
    display: none;
  }
}
@media (max-width: 1199px) {
  .header__menu nav > ul li ul li a {
    color: #000;
  }
}
.header__menu nav > ul li:hover ul {
  left: 0;
}
@media (min-width: 1200px) {
  .header__menu nav > ul li:hover ul {
    visibility: visible;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .header__logo {
    width: 350px;
    padding-left: 100px;
  }
}
.header__numbersearh {
  justify-content: flex-end;
}
@media (max-width: 1599px) {
  .header__numbersearh .searchbar {
    display: none;
  }
}
@media (min-width: 1600px) {
  .header__numbersearh .searchbar::after {
    background: #FFF;
    opacity: 0.15;
    height: 100px;
    top: -36px;
    left: 60px;
  }
}
@media (max-width: 1439px) {
  .header__numbersearh .number {
    display: none;
  }
}
.header__sidebar {
  margin-left: auto;
}
.header__sidebar .offcanvasicon {
  background: #23252D;
}
.header__sidebar .offcanvasicon i {
  font-size: 1.25rem;
}

.tpoffcanvas {
  position: fixed;
  right: -100%;
  z-index: 999999;
  scrollbar-width: none;
  transition: 1s ease-in-out;
  overflow-y: scroll;
}
@media (min-width: 992px) {
  .tpoffcanvas {
    width: 450px;
  }
}
.tpoffcanvas.opened {
  -webkit-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-duration: 1s;
}
.tpoffcanvas__close-btn {
  margin-left: auto;
}
.tpoffcanvas__close-btn button i {
  font-size: 1.25rem;
}
.tpoffcanvas__content .social ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(2, 11, 24, 0.1);
}

.menu-item-has-children > a::after {
  transform: translateY(-50%);
  right: 272px;
  height: 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu-item-has-children > a::before {
  top: 50%;
  transform: translateY(-50%);
  right: 276px;
  width: 2px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (min-width: 1200px) {
  .menu-item-has-children > a::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
    width: 10px;
    height: 2px;
    background: #FFE815;
  }
  .menu-item-has-children > a::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 2px;
    height: 10px;
    background: #FFE815;
  }
}
@media (min-width: 1200px) {
  .menu-item-has-children:hover > a:before {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
}
.menu-item-has-children:hover > a::after {
  background: #FFE815;
}
@media (max-width: 1199px) {
  .menu-item-has-children.open > a:before {
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 0;
  }
}

.hero {
  width: 100%;
  padding: calc(2.5rem + 15vw) 0;
}
@media (min-width: 1200px) {
  .hero {
    padding: 13.75rem 0;
  }
}
@media (max-width: 575px) {
  .hero__content {
    margin-top: 30px;
  }
}
@media (min-width: 1366px) {
  .hero__content h2 {
    font-size: 110px;
  }
}
.hero__content h2 span {
  background: linear-gradient(to bottom right, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 50%) bottom right/50% 50% no-repeat, linear-gradient(to bottom left, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 50%) bottom left/50% 50% no-repeat, linear-gradient(to top left, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 50%) top left/50% 50% no-repeat, linear-gradient(to top right, rgba(255, 232, 21, 0.95) 0%, #3C7FFF 50%) top right/50% 50% no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1366px) {
  .hero__content h2 span {
    font-size: 110px;
  }
}
@media (min-width: 992px) {
  .hero__content .bottom-text {
    gap: 35px;
  }
}
.hero__content .bottom-text span {
  color: #B1B4BA;
}
@media (min-width: 1366px) {
  .hero__content .bottom-text h3 {
    font-size: 110px;
  }
}
@media (min-width: 992px) {
  .footer__address {
    position: relative;
  }
}
@media (min-width: 992px) {
  .footer__address::after {
    position: absolute;
    content: "";
    top: -72px;
    right: 0;
    width: 90%;
    height: 1px;
    background: #fff;
    opacity: 0.1;
  }
}
@media (min-width: 992px) {
  .footer__address::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 26px;
    width: 1px;
    height: 242px;
    background: #fff;
    opacity: 0.1;
  }
}
.footer__address .item p {
  color: #B1B4BA;
}
@media (min-width: 992px) {
  .footer__link {
    position: relative;
  }
}
@media (min-width: 992px) {
  .footer__link::after {
    position: absolute;
    content: "";
    top: -72px;
    left: 0;
    width: 80%;
    height: 1px;
    background: #fff;
    opacity: 0.1;
  }
}
@media (min-width: 992px) {
  .footer__link::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 95px;
    width: 1px;
    height: 242px;
    background: #fff;
    opacity: 0.1;
  }
}
.footer__link ul li a {
  color: #B1B4BA;
}
@media (min-width: 992px) {
  .footer__contact .socail-icon {
    margin-bottom: 67px;
  }
}
.footer__contact .item p {
  color: #B1B4BA;
}
@media (min-width: 992px) {
  .footer__copyright:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.15;
    background: #FFF;
  }
}
@media (min-width: 768px) {
  .footer__copyright .left {
    width: 23%;
  }
}
.footer__copyright .left p span {
  color: #FFE815;
}
.section__title p {
  color: #57595C;
}

.projects__nav button {
  border-bottom: 1px solid #2F446B;
}
.projects__nav button.active {
  border-bottom: 1px solid #FFE815;
}
.projects__nav button.active h2 {
  color: #FFE815;
}
.projects__tab-content {
  margin-left: auto;
}

.bt {
  padding: 0.9375rem calc(1.3125rem + 0.75vw);
  user-select: none;
  transition: all 0.2s ease;
}
@media (min-width: 1200px) {
  .bt {
    padding: 0.9375rem 1.875rem;
  }
}

.bt:active {
  transition: all 0.001s ease;
  background-color: #5d9fcd;
  box-shadow: #97989a 0 0 0 0;
  transform: translateX(1px) translateY(1px);
}

.bt:hover .msg {
  animation: msgRun 2s forwards;
}

@keyframes msgRun {
  0% {
    border-top: #d6d6d9 0 solid;
    border-bottom: #f2f2f5 0 solid;
    border-left: #f2f2f5 0 solid;
    border-right: #f2f2f5 0 solid;
  }
  20% {
    border-top: #d6d6d9 14px solid;
    border-bottom: #f2f2f5 14px solid;
    border-left: #f2f2f5 20px solid;
    border-right: #f2f2f5 20px solid;
  }
  25% {
    border-top: #d6d6d9 12px solid;
    border-bottom: #f2f2f5 12px solid;
    border-left: #f2f2f5 18px solid;
    border-right: #f2f2f5 18px solid;
  }
  80% {
    border-top: transparent 12px solid;
    border-bottom: transparent 12px solid;
    border-left: transparent 18px solid;
    border-right: transparent 18px solid;
  }
  100% {
    transform: translateX(150px);
    border-top: transparent 12px solid;
    border-bottom: transparent 12px solid;
    border-left: transparent 18px solid;
    border-right: transparent 18px solid;
  }
}
.custom-btn {
  align-content: center;
  z-index: 9;
  border: 1px solid #FFE815;
}

.custom-btn::after {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  z-index: -1;
}

.custom-btn:hover::after {
  animation: sideClip 0.5s linear;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.custom-btn:hover span {
  animation: storm 0.4s linear both;
}

@keyframes sideClip {
  0% {
    clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.playbtn_animation {
  z-index: 1;
}
.playbtn_animation::before,
.playbtn_animation::after {
  position: absolute;
  content: "";
  height: 8em;
  width: 8em;
  border: 0.5em solid #FFE815;
  border-radius: 50%;
  animation: playbtn_animation_79178 2.5s linear infinite;
  z-index: -1;
}

.playbtn_animation::after {
  opacity: 0;
  animation-delay: 1.2s;
}

@keyframes playbtn_animation_79178 {
  0% {
    border: 0.5em solid #FFE815;
    transform: scale(0);
    opacity: 1;
  }
  100% {
    border: 0 solid #FFE815;
    transform: scale(1);
    opacity: 0;
  }
}
.slick-prev:before,
.slick-next:before {
  font-size: 60px;
  color: #57595C;
  font-weight: 700;
}

.slick-prev {
  left: -80px;
}

.slick-next {
  right: -35px;
}

.slick-slider {
  margin: 0 -15px;
}

.slick-slide {
  margin-right: 15px;
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
